h1 {
    color: rgb(255, 0, 64);
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#box {
    border: 1px solid;
    padding: 200px;
    box-shadow: 5px 10px #888888;
    border: 5px solid red;
    text-align: center;

}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;}

/* .button3 {
    color: #4CAF50;
} */

#Play {
    align-items: center;
}